.terms-container body{
  background-color: #f2f2f2;
  padding: 0;
  margin: 0;
}

  .terms-container {
    max-width: 130rem;
    text-align: justify;
    margin: auto;
    padding: 2rem;

  }
.terms-container p {
    font-size: 1.6rem;
    color: #000000;
  }

.terms-container h3 {
  font-size: 2.7rem;
  padding-bottom: 1.6rem;
  padding-top: 1.6rem;
  color: #000000;
}

.terms-container .t-c-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.terms-container h2 {
  font-size: 3.2rem;
  margin-top: 8rem;
  text-align: center;
  color: #000000;
}
  
.terms-container .terms{
    width: 40rem;
    height: 4.2rem;
    justify-content: center;
    text-align: center;
    color: #000000;
    display: table;
}

.terms-container .inner {
  max-width: 100%;
  display: inline-block;

}

.terms-container .text-container {
      word-wrap: break-word;
      padding: 0px 10px;
      margin: 0px 10px;
    }

    .terms-container  li{
      list-style-type: circle;
    }

    .terms-container ul{
      padding-left: 3rem;
    }



 
