.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 1024px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
  }
}
